# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Uploads e file generati
uploads/*
!uploads/.gitkeep
data/results.json

# File specifici del progetto
.DS_Store
.coverage
htmlcov/
.pytest_cache/
scripts/*


# PyTorch
*.pt
*.pth
*.safetensors
*.bin
*.onnx

# Eccezioni: mantieni i file vuoti per le directory
!models/.gitkeep
!uploads/.gitkeep
